<section class="section bg-client bg-light" id="client">
  <div class="container">
    <!-- Toggle Switch -->
    <div class="toggle-container">
      <label class="switch">
        <input type="checkbox" (change)="toggleFilter()" [checked]="showFiltered">
        <span class="slider round"></span>
      </label>
      <span class="filter-label">
        {{ showFiltered ? 'Affichage des notes > 10' : 'Toutes les évaluations' }}
      </span>
    </div>
    <h2>Evaluations</h2>
    <!-- FullCalendar -->
    <full-calendar [options]="calendarOptions"></full-calendar>

    <!-- Liste des évaluations -->
    <div class="evaluation-table">
      <h3>Liste des Evaluations</h3>
      <table>
        <thead>
          <tr>
            <th>Sujet</th>
            <th>Note</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evaluation of (showFiltered ? filteredEvaluations : evaluations)">
            <td>{{ evaluation.sujet }}</td>
            <td>
              <span class="note-icon" [ngClass]="{'high-score': evaluation.note > 15, 'mid-score': evaluation.note > 10}">
              {{ evaluation.note }}
              </span>
            </td>
            <td>{{ evaluation.dateEvaluation | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>